*{
    box-sizing: border-box;
}
.container {
    position: relative;
    margin: auto;
    width: 90%;
  }

.boxContainer {
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 1px solid black;
}

.textBottom{
    text-align: start;
}

.buttonContainer {
    width: 30%;
    float: right;
    margin-top: 1%;
}

.buttonContainer > input {
    display: block;
    margin-left: 17%;
    margin-bottom: 6%;
}

.buttonContainer > button {
    display: block;
    margin-left: 17%;
    margin-top: 2%;
}

.filterText {
    font-weight: bold;
    font-size: x-large;
    margin-left: 17%;
    margin-bottom: 3px;
}

.inputBar {
    width: 50%;
    height: 30px;
}

.gallery {
    width: 70%;
    float: right;
    border-right: 1px black solid;
}

.post {
    z-index: -1;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 20px; 
}

.boxContainer::after {
    content: "";
    clear: both;
    display: table;
    }

    .post:hover {
        background-color:lightgray;
    }