
.container {
    position: relative;
    margin: auto;
    width: 90%;
  }

.textBottom{
    text-align: start;
    margin: auto;
    padding-left: 20px;
    padding-right:20px;
    margin-bottom: 10px;
}

.buttonContainer {
    margin-left: 80%;
}

.buttons{
    margin-top: 20px;
}

.filterText {
    font-weight: bold;
    font-size: x-large;
}
.inputBar {
    width: 80%;
    height: 30px;
    margin-top: -50%;
}

.gallery {
    margin-top: -11%;
    margin-left: 4%;
}

.post {
    display: inline-block;
    margin-right: 10%;
}