.container{
    display: flex;
    width: 90%;
    margin: auto;
    flex-flow: column wrap;
    align-items:center;
    margin-bottom: 1%;
}

.form{
    display: flex;
    flex-flow: column wrap;
    align-items:center; 
    background-color: #E7E5E5;
    padding-top: 2vh;
    margin-top:auto;
    margin-bottom: 3%;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px gray;
    padding-left: 10%;
    padding-right: 10%;
    
}
.form input{
    font-family: 'Habibi';
    width: 25vw;
    min-width:150px ;
    min-height: 2vw;
    margin-bottom: 3%;
}

.p{
    font-family: 'Habibi';
    font-size:2vw;
    margin-bottom: 20px;
    text-align: center;
  
}
.label{
    font-size:2vh;
    font-family:'Habibi';
    
}
.button{
    text-align: left;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size:2vh;
    font-family:'Habibi';
    transition-duration: 0.5s;   
    box-shadow: 0px 0px 5px 0 gray;
    border: transparent;
    padding: 7px 20px;
    border-radius: 30px;
    background-color: transparent;
    font-size: 15px;
    
}
.button:hover{
    background-color: darkgrey;
}

.poruka{
    width: 25vw;
    min-width:150px ;
    height: 150px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

@media screen and (max-width: 1100px){
    .p{
        font-size: 2vh;
    }
}
