.container {
  display:inline-flex;
  flex-flow: row;
  align-items: flex-start;
  font-family: 'Habibi';
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  
}
 
.list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px 50px;
  justify-content: space-around;
}
 
.post {
  margin: 15px 10px 40px 10px;
  width:300px;
}
.datum{
  font-size: 12px;
  margin-bottom: 1px;
}
.naslov{
  margin-bottom:0px;
  margin-top:2px;
}
.sazetak{
  padding-top: -10px;
  width: min-content;
  word-wrap: break-word;
}