.container {
  width: 90%;
  margin: auto;
  margin-bottom: 1%;
}

.list {
  display: inline-flex;
  justify-items: center;
  flex-wrap: wrap;
  margin: 1% 2%;
}
 
.post {
  margin:2% 12px;
  width:300px;
  padding-top: 12px;
  padding-left: 12px;
}

.datum{
  font-family: 'Habibi';
  font-size: 12px;
  margin-bottom: 1px;
}
.naslov{
  font-family: 'Habibi';
  margin-bottom:0px;
  margin-top:2px;
}
.sazetak{
  font-family: 'Habibi';
  padding-top: -10px;
  width: min-content;
  word-wrap: break-word;
}

.post:hover{
  background-color: #E7E5E5;
  border-radius: 4px;
}