.failedLogin{

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 3% 15%;
    box-shadow: 0px 0px 5px 0 gray;
    padding:5%;
    font-family: 'Habibi';
    font-size: xx-large;
    
}

.redirectContainer {
    width: 90%;
    margin:auto;
    
}

.goodContainer {
    font-family: 'Habibi';
    display: flex;
    width: 90%;
    margin: auto;
    flex-flow: column wrap;
    align-items:center;
    margin-bottom: 1%;
}

.form{
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    background-color: #E7E5E5;
    padding-top: 2vh;
    margin-top:auto;
    margin-bottom: 3%;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px gray;
    padding-left: 7%;
    padding-right: 7%;
    
}


.form input{
    font-family: 'Habibi';
    width: 25vw;
    min-width:150px ;
    height: 2vw;  
    
}

.p{
    font-family: 'Habibi';
    font-size:2vw;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
  
 
}
.label{
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    font-size:2vh;
    
    font-family:'Habibi';
    margin-bottom: -3%;
    
}
.button{
    text-align: left;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size:2vh;
    font-family:'Habibi';
    transition-duration: 0.5s;   
    box-shadow: 0px 0px 5px 0 gray;
    border: transparent;
    padding: 7px 20px;
    border-radius: 30px;
    background-color: transparent;
    font-size: 15px;
    
}
.button:hover{
    background-color: darkgrey;
}
@media screen and (max-width: 1280px){

    .button {
        min-width: fit-content;
        min-height: 40px;
    }

    .form > div {
        margin-left: 10%;
    }

    .failedLogin{
        margin: 3% auto;
        min-width: 388px;
    }
}