*{
    box-sizing: border-box;
}
.container {
    position: relative;
    margin: auto;
    width: 90%;
  }

.textBottom{
    text-align: start;
}

.buttonContainer {
    width: 30%;
    float: right;
    margin-top: 1%;
}

.buttonContainer > input {
    display: block;
    margin-left: 17%;
    margin-bottom: 6%;
}

.buttonContainer > button {
    display: block;
    margin-left: 17%;
    margin-top: 2%;
}

.filterText {
    font-weight: bold;
    font-size: x-large;
    margin-left: 17%;
    margin-bottom: 3px;
}

.inputBar {
    font-size: large;
    display:inline-block;
    padding: 5px 10px;
    margin:auto;
}

.gallery {
    width: 70%;
    float: right;
    border-right: 1px black solid;
}

.post {
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 20px; 
}

.boxContainer::after {
    content: "";
    clear: both;
    display: table;
    }

.post:hover {
    background-color:#E7E5E5;
}

.boxContainer {
    margin-bottom: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 600px){
     .imgObj{
        max-width: 200px;
        max-height: 200px;
    } 
}
@media screen and (max-width: 1400px){
    .inputBar{
        max-width: 83%;
    }
}