
/*treba sredit media query*/
.logo {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: fit-content; 
    z-index: 1;
    margin-left: 4%;   
  }

  @media (max-width:810px){
    .logo {
      display: flex;
      align-self: center;
      margin-top: 5%;
      height: 130px;
    }
  }



