.bigBox {
    width:90%;
    margin: auto;
}

.forme{
    display:flex;
    margin-bottom: 10px;
}

.login{   
    flex:50%;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    line-height: 3vw;
    background-color: #E7E5E5;
    border-radius: 8px;
    margin:3% 7%;
    box-shadow: 0px 0px 10px 3px gray;
    
    
}
.register{
    flex:50%;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    line-height: 3vw;
    background-color: #E7E5E5;
    margin: 3% 7%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px gray;
}

.input{
    width: 25vw;
    min-width:250px ;
    height: 2vw; 
    margin-top: -3%; 
}
.p{
    display: flex;
    font-family: 'Habibi';
    font-size:2.5vh; 
    margin-bottom:10px;
}

.label{  
    display: flex;
    flex-flow: column wrap;
    font-family:'Habibi';
}

.label1{
    display: flex;
    flex-flow: column wrap;
    font-family:'Habibi';
    margin-bottom: -5%;
}
.button{
    text-align: left;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size:2vh;
    font-family:'Habibi';
    transition-duration: 0.5s;   
    box-shadow: 0px 0px 5px 0 gray;
    border: transparent;
    padding: 7px 20px;
    border-radius: 30px;
    background-color: transparent;
    font-size: 15px;
    
}
.button:hover{
    background-color: darkgrey;
}


@media screen and (max-width: 1100px){
    .label {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .label1{
        margin-bottom: 1%;
        margin-top: 1%;
    }
    .input{
        margin: auto;
    }
    .forme{
        display: block;
    }
}
