.bigBox {
    width:90%;
    margin: auto;
}

.forme{
    display:flex;
    margin-bottom: 10px;
    border-bottom: 1px solid black;  
}

.login{   
    flex:50%;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    line-height: 3vw;
    background-color: #E7E5E5;
    border-radius: 8px;
    margin:20px 7%;

}
.register{
    flex:50%;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    line-height: 3vw;
    background-color: #E7E5E5;
    margin: 20px 7%;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 5px gray;
}

.input{
    display: flex;
    align-items:flex-start;
    margin-top: -5%;
    
}
.p{
    font-family: 'Habibi';
    font-size:2vw;   
}

.label{  
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    font-size:x-large;
    font-weight: bold;
    font-family:'Habibi';
}
.button{
    display: block;
    width:auto;
    text-align: left;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size:2vw;
    font-family:'Habibi';
    
}
@media screen and (max-width: 1100px){
    .label {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .input{
        margin: auto;
    }

}