@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');

.navigation{
    display: flex;
    justify-content: flex-end ;
    flex-flow: row;
    min-width: 0;
    width: fit-content;
    font-family: 'Habibi';
    margin-right: 5%;
    margin-top: 2%;
  }
.navigation div {
    padding:0px 15px;
    list-style: none;
    width: fit-content;
    font-size: 2vw;
    line-height: 90px;  
    color: #555
}
.navigation div:hover {
    border-bottom: 2px solid darkgray ;
    cursor: pointer;
  }
  
.navigation .active, .navigation .active:hover{
    border-bottom: 2px solid black ;
  }

@media (max-width:810px){
  .navigation{
    margin-left: 6%;
  }
  .navigation div{
    line-height: 50px;
    font-size: 3vw;
    
  }
}