
.container{
    position:relative;
    margin: auto;
    width: 90%;
}
.clanak{
    position:absolute; 
    width:30%;
    height: 15vw;
    padding:20px;
    font-family: 'Habibi';
    font-size:1.7vw;
    background-color: rgb(196,196,196,0.8);
    margin-top: -20%;
    margin-left: 65%;
}

.coverImage {
    z-index: -1;
}
.clanak .pod{
    font-family: 'Habibi';
    font-size:1vw;
    color:rgb(61, 61, 61);

}
.galerijaOkvir{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

div.ljubimciFrame{
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}
div.galerijaDiv{
    display: inline-block;
}

a.galerija img{
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}

div.galerijaDiv:hover{
    background-color:#E7E5E5;
    color: #E7E5E5;
}
.text{
    font-family: 'Habibi';
    font-weight: bold;
    font-size: x-large;
    padding-left: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;

}
.citat{
    font-family: 'Habibi';
    font-size: x-large;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid black;
}
.autor{
    font-size: large;
    text-align: center;
}

@media screen and (max-width: 1130px){
    .clanak{
        margin: -27% 15% auto 15%;
        width: 70%;
        font-size: 1.7vh;
        text-align: center;
    }
}

