.container{
    position:relative;
    margin: auto;
    width: 90%;
}
.clanak{
    position:absolute;
    bottom:30px;
    right:20px;
    width:30%;
    height: 15vw;
    padding:20px;
    font-family: 'Habibi';
    font-size:1.7vw;
    background-color: rgb(196,196,196,0.8) ;
}
.clanak .pod{
    font-size:1vw;
    color:rgb(61, 61, 61);

}
.galerijaOkvir{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: auto;
    width: 90%;
}

div.ljubimciFrame{
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}
div.galerijaDiv{
    display: inline-block;
}

a.galerija img{
    width: 300px;
    height: 300px;
    padding: 20px 20px;
}

div.galerijaDiv:hover{
    background-color:lightgray;
    color: lightgray;
}
.text{
    font-weight: bold;
    font-size: x-large;
    padding-left: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin: auto;
    width: 90%;
}
.citat{
    font-size: x-large;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid black;
    margin:auto;
    width: 90%;
}
.autor{
    font-size: large;
    text-align: center;
}
