.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }


  @media (max-width: 810px){
    .header{
      flex-direction: column;
      height:240px;
      margin-left: -5%;
    }
    .navigation{
      flex-basis: 100%;
      margin: auto;
    }
   
  }