.bigBox {
    width: 90%;
    margin: auto;
    margin-bottom: 1%; 
}
.container{
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 0px 5px 0 gray;
    padding-bottom: 2%;
    padding-top: 2%;

}
.smallContainer{
    margin-left: 10%;
    margin-right: 10%;
}

.p1 {
    font-family: 'Habibi';
    font-size: larger;
}

.p2 {
    font-family: 'Habibi';
    font-size: larger;
    font-weight: bold;
}
.p3 {
    font-family: 'Habibi';
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

@media screen and (max-width: 1500px){
    .container{
        min-width: 388px;
    }
}

@media screen and (max-width: 1015px){
    .container{
        margin:auto;
    }
}