.bigBox{
  width: 90%;
  margin: auto;
}
.image{
  height:25vw;
  width:100%;
  margin-bottom: 1%;
  margin-top: 1%;
  object-position:center;
    
}
.container{
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0px 0px 5px 0 gray;
  padding:2% 5% 3% 5%;
}

.borderContainer{
  border-top:1px solid black;
  margin-bottom: 1%;
}

.naslov{
  font-family: 'Habibi';
}
.datum{
  font-family: 'Habibi';
}

.clanak{
  font-family: 'Habibi';
  line-height: 25px;
  max-width: 75ch;
  text-align: left;
  
}

@media screen and (max-width: 1500px){
  .container{
    margin: 10px auto;
    padding-left: 10%;
    padding-right: 10%;
  }
}