
.image{
  height:25vw;
  width:100%;
  margin-bottom: 20px;
  object-position:center;
  z-index: -1;
    
}
.container{
  padding-bottom: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  border-top:1px solid black;
}
.naslov{
  font-family: 'Habibi';
  margin-left:10%;

}
.datum{
  font-family: 'Habibi';
}

.clanak{
  font-family: 'Habibi';
  line-height: 25px;
  margin:0 10%;
  max-width: 75ch;
  text-align: left;
}