*{
    box-sizing: border-box;
}

.bigBox {
    position: relative;
    margin: auto;
    margin-bottom: 1%;
    width: 90%;
}

.heading {
    font-size: x-large;
    font-size: 3vh;
}

.container{
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 5px 5px 5px 0 gray;
    padding:3% 5%;
    background-color: #E7E5E5;
  }
.container1 {
margin: auto;
}

.container2 {
margin: auto;
padding-left: 20%;
}

.slicica {
    box-shadow: 15px 15px 15px 0 white;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.clanak {
    border-radius: 8px;
    padding: 0px 5%;
    max-width: 75ch;
}

@media screen and (max-width: 1200px){

    .container{
        margin: 5%;
    }
}